# Dossier Admin COMPLET
/src/admin/
/public/admin.php

# Fichier de configuration du site (ne doit jamais être sur Git)
/config-site.php

# Fichiers de dépendances (si tu en utilises plus tard)
/vendor/
/node_modules/

# Fichiers système et logs
.DS_Store
*.log
.env